@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}

:root {
    --nav-height: 50px;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
